.default-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 130px);
  }
  
  .dashboard-layout, .unauthenticated-layout {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
  }
  